/* normalize or reset css */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* ========site variables======== here */
:root{
    --purple: #515fbc;
    --gray-light:#8e99a1;
    --blue-dark:#1e262f;
}



body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

li{
    list-style-type:none
}

/* section{
    /* border: 2px yellow solid; */

/*================Header================*/
header{
    background-color: #515fbc;
    height: 70px;
}


.logo > img{
    width:80px;
    margin:30px 0;
}

/* HERO */

#section-hero small{
    font-size: 9px;
    font-weight: 100;
}

#section-hero{
    background-color: var(--purple);
    color: white;
    padding-bottom: 10px;
}


h1{
    font-weight: 500;
    padding: 10px 0;
}

h3{
    font-weight: 300;
    margin-bottom: 10px;
}

.form-cta{
    margin-bottom:10px;
}

.form-cta input{
    border: 3px solid var(--gray-light);
    border-radius: 3px;
    width: 250;
    padding: 7px;
}

.form-cta button{
    color: white;
    background-color: var(--blue-dark);
    padding: 7px;
    border-radius: 5px;
    border: 2px solid var(--blue-dark);
    font-size: 12px;

}

/* MIDDLE SECTION IMAGE */

#middle-section-image{
    background-color: var(--purple);
    width: 50%
}


/* Section Articles */

#section-articles{
    display: flex;
    width: 100%;
}

article{
    padding:40px
}

article h4{
font-size: 12px;
}

article p {
    color: var(--gray-light);
    padding: 12px 0
}

hr{
    width: 700px;
    text-align: center;
    margin: 0 auto;
    
}

.btn-custom{
    background-color: var(--purple);
    padding: 10px 20px;
    margin: 3rem 0;
    border: none;
}

.btn-custom:hover{
background-color: var(--gray-light);
}


/* ==========SECTION CLIENTS===========*/
#section-clients img{
    width:70px;
    margin: 2rem 4px;
}

/*========== TESTIMONIALS=========== */
#section-testimonials{
    margin-top: 3rem;
}

span {
    text-transform: uppercase;

}

/* =========FOOTER STYLES========= */
/* footer{
    border: 2 blue solid;
} */

/* footer ul {
    display: flex;
    justify-content: space-around;
} */

footer ul li {
    color: var(--purple);
    font-size: 10px;
  }
