/* normalize or reset css */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* site variables here */
:root{
    --purple: #515fbc;
    --gray-light:#8e99a1;
    --blue-dark:#1e262f;
}

body{
    background-color:white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

section{
    border: 2px yellow solid;
}
footer{
    border: 2px rgb(43, 96, 240) solid;
}


/*================Header================*/
header{
    border: 2px purple solid;
    background-color: #515fbc;
    height: 70px;

}


.logo > img{
    width:80px;
    margin:30px;
}

#section-hero{
    background-color: var(--purple);
    color: white;
}

h1{
    font-weight: 500;
    margin: 10px 0;
}

h3{
    font-weight: 300;
    margin-bottom: 10px;
}

/* MIDDLE SECTION IMAGE */

#middle-section-image{
    background-color: var(--purple);
    height: 700px;
}



/* Section Articles */

#section-articles{
    display: flex;
    width: 100%;
}

article{
    padding:40px
}

article p {
    color: var(--gray-light);
    padding: 12px 0
}